{% extends "layout.html" %}

{% block title %}
    Check
{% endblock %}

{% block main %}

    <div class="alert alert-dismissible alert-success success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="text-success">Your code <strong>{{ code }}</strong> has been registered in your database</h4>
    </div>

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        {% for row in rows %}
            <tr class="table-secondary">
                <td class="bg-secondary">{{ row.code }}</td>
                <td class="bg-secondary">{{ row.type }}</td>
                {% if row.type == 'Cash' %}
                    <td class="bg-secondary">£ {{ row.amount }}</td>
                {% else %}
                    <td class="bg-secondary">% {{ row.amount }}</td>
                {% endif %}
                <td class="bg-secondary">{{ row.date }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
