<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- adding Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
        <!-- adding bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <!-- adding page name -->
        <title>LadyBug {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-light container-fluid d-flex align-items-top justify-content-start">
            <a class="navbar-brand" href="/"><img href="index.html" src="/static/ladybug.png" width="30" height="30" class="d-inline-block align-left" alt=""></a>
            <a class="navbar-brand" href="/my-profile">My Profile</a>
            <a class="navbar-brand" href="/members">Members</a>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            <p class="text-center col-12">EDX Harvard | CS50 2019 | Final Project</p>
        </footer>
    </body>
</html>