<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->


        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>LadyBug {% block title %}{% endblock %}</title>

    </head>

    <body>
        <img src="imgages/girl_2.jpg" alt="School photo created by drobotdean - www.freepik.com" href='https://www.freepik.com/photos/school'>

        <h1>Need help with debug your code?</h1>
        <h6>Find a study mate to solve problems quicker</h6>

        <footer>
            CS50 2019 EDX Harvard Final Project
        </footer>
    </body>
</html>